.regiDiv{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /*border: 1px solid black;*/
}

.banner {
    width: 100%;
    height: 10vh;
    background: #2CB6E8;
}

.regi-choice {
    width: 70%;
}

.choice-div {
    margin: 0 auto;
    margin-top: 5%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.regi-h1 {
    font-size: 3rem;
    padding-top: 0.3%;
    margin-top: 2%;
    color: #1A70E2;
    /*-webkit-text-stroke: 1px #FBF2BD;*/
}

h2 {
    font-size: 2rem;
    margin-top: 15%;
    color: #1A70E2;
}

.regi-button, .input-button {
    border-radius: 20px;
    background: #2CB6E8;
    color: #FBF2BD;
    width: 8%;
    font-size: 1.5rem;
    border: 2px solid #404040;
    padding: .5% 0;
}


/*Actual Forms CSS bellow this v*/

.input-h1 {
    color: #1A70E2;
}

.text-input {
    width: 20%;
    padding: .7%;
    border-radius: 10px;
    border: 2px solid #2CB6E8;
    margin: .5% auto;
}

.input-button {
    margin-top: 1%;
    margin-left: 1%;
}


.input-warning {
    color: red;
    margin: 0;
}

/* .input-button {
    border-radius: 15px;
    background: #2CB6E8;
    color: #1A70E2;
    width: 8%;
    font-size: 1.5rem;
    border: 2px solid #404040;
} */